<section>
  <div class="page-header">
    <h1>Sizemasters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="sizemaster in vm.sizemasters"
       ui-sref="sizemasters.view({ sizemasterId: sizemaster._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="sizemaster.created | date:'mediumDate'"></span>
        by
        <span ng-if="sizemaster.user" ng-bind="sizemaster.user.displayName"></span>
        <span ng-if="!sizemaster.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="sizemaster.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sizemasters.$resolved && !vm.sizemasters.length">
    No Sizemasters yet, why don't you <a ui-sref="sizemasters.create">create one</a>?
  </div>
</section>
