<section>
  <div class="page-header">
    <h1>Cartmasters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cartmaster in vm.cartmasters"
       ui-sref="cartmasters.view({ cartmasterId: cartmaster._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cartmaster.created | date:'mediumDate'"></span>
        by
        <span ng-if="cartmaster.user" ng-bind="cartmaster.user.displayName"></span>
        <span ng-if="!cartmaster.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cartmaster.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.cartmasters.$resolved && !vm.cartmasters.length">
    No Cartmasters yet, why don't you <a ui-sref="cartmasters.create">create one</a>?
  </div>
</section>
