<section>
  <div class="page-header">
    <h1>Shopmasters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="shopmaster in vm.shopmasters"
       ui-sref="shopmasters.view({ shopmasterId: shopmaster._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="shopmaster.created | date:'mediumDate'"></span>
        by
        <span ng-if="shopmaster.user" ng-bind="shopmaster.user.displayName"></span>
        <span ng-if="!shopmaster.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="shopmaster.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.shopmasters.$resolved && !vm.shopmasters.length">
    No Shopmasters yet, why don't you <a ui-sref="shopmasters.create">create one</a>?
  </div>
</section>
