<section>
  <div class="page-header">
    <h1>Homes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="home in vm.homes"
       ui-sref="homes.view({ homeId: home._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="home.created | date:'mediumDate'"></span>
        by
        <span ng-if="home.user" ng-bind="home.user.displayName"></span>
        <span ng-if="!home.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="home.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.homes.$resolved && !vm.homes.length">
    No Homes yet, why don't you <a ui-sref="homes.create">create one</a>?
  </div>
</section>
