<section>
  <div class="page-header">
    <h1>Categorymasters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="categorymaster in vm.categorymasters"
       ui-sref="categorymasters.view({ categorymasterId: categorymaster._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="categorymaster.created | date:'mediumDate'"></span>
        by
        <span ng-if="categorymaster.user" ng-bind="categorymaster.user.displayName"></span>
        <span ng-if="!categorymaster.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="categorymaster.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.categorymasters.$resolved && !vm.categorymasters.length">
    No Categorymasters yet, why don't you <a ui-sref="categorymasters.create">create one</a>?
  </div>
</section>
