<section>
  <div class="page-header">
    <h1>Ordermasters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ordermaster in vm.ordermasters"
       ui-sref="ordermasters.view({ ordermasterId: ordermaster._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="ordermaster.created | date:'mediumDate'"></span>
        by
        <span ng-if="ordermaster.user" ng-bind="ordermaster.user.displayName"></span>
        <span ng-if="!ordermaster.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ordermaster.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ordermasters.$resolved && !vm.ordermasters.length">
    No Ordermasters yet, why don't you <a ui-sref="ordermasters.create">create one</a>?
  </div>
</section>
